i\:field-text {
	display: block;
	border: 1px solid #bbb;
	background: white;
	color: black;

   	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 4px #bbb;
	-moz-box-shadow: 0px 0px 4px #bbb;
	box-shadow: 0px 0px 4px #bbb;

}

i\:field-text textarea {
	display: block;
	width: 100%;
	border-width: 0;
	line-height: 1;
	height: 100px;
	font: 16px/1 'Lucida Console', monospace;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
